{% extends "app/layout.html" %}
{% load static %}

{% block body %}
<h2>Login</h2>

{% if messages %}
<ul>
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}

<form action="{% url 'login' %}" method="post">
  {% csrf_token %}
  <input type="email" name="email" placeholder="Email" required>
  <input type="password" name="password" placeholder="Password" required>
  <button type="submit">Login</button>
</form>

Don't have an account? <a href="{% url 'register' %}">Register here.</a>



{% endblock %}